{% extends "layout.html" %}
{% block body_content %}
    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="{{ url_for('static', filename='images/Collections_British_4-693f537.jpeg')}}" class="img-fluid" alt="">
            </div>
            <div class="col">
                    <h4 class="card-title">Scotched eggs</h4>
                <p class="card-text"><strong>Ingredients</strong>
12 large eggs
800g good-quality Cumberland or Lincolnshire sausages, skinned
5 tbsp curly parsley, finely chopped
2 tsp Worcestershire sauce
2 tsp English mustard powder
2 tsp ground mace
12 rashers smoked streaky bacon
85g plain flour
140-200g/5-7oz dried breadcrumbs
about 1 litre/1¾ pints sunflower or vegetable oil, for frying
scraps of bread, for testing oil<br/>
                    <strong>Method</strong><br/>
                    <strong>STEP 1</strong><br/>
Put 9 eggs into a large saucepan. Cover with cold water and bring to the boil. Once boiling, set the timer for 5 mins. When 5 mins is up, quickly lift the eggs out with a slotted spoon and plunge into a big bowl of cold water.<br/>

                    <strong>STEP 2</strong><br/>
Put the sausagemeat, parsley, Worcestershire sauce, mustard powder and mace into a bowl with plenty of seasoning. Break in 1 of the remaining eggs and mix everything together.<br/>

                    <strong>STEP 3</strong><br/>
Crack remaining 2 eggs into a bowl, beat with a fork, then sieve onto a plate. Tip the flour onto another plate and season well. Finally, tip the breadcrumbs onto a third plate.<br/>

                    <strong>STEP 4</strong><br/>
Bring a large saucepan of water to the boil. Drop in the bacon rashers, turn off the pan and fish out the bacon with a pair of tongs – it should be just cooked.<br/>

                    <strong>STEP 5</strong><br/>
When the eggs are cool, tap lightly on a hard surface to crack the shell, then peel (Picture A). If you hold the eggs over the bowl of water as you peel, all the shell bits will collect in there and you can dip in the egg to wash off any fragments. Wrap a slice of bacon around the middle of each egg, overlapping, like a belt (Picture B).<br/>

    <strong>STEP 6</strong><br/>
Now finish coating the eggs. I set up the ingredients along my bench like a conveyer belt: eggs, then flour, mince, beaten egg and finally breadcrumbs, plus a baking parchment-lined tray at the end to put the finished scotch eggs on.<br/>

    <strong>STEP 7</strong><br/>
Roll your bacon-wrapped eggs in the flour, shaking off excess. Take a good chunk of mince and pat out to thinly cover one hand. Sit the egg on the meat (Picture C), then mould over the mince to cover, squeezing and patting so it is an even thickness. You’ll probably have a gap (depending on how big your hands are – just patch and pat with a bit more mince). Dip in the egg, shaking off the excess, then roll in the breadcrumbs to coat, and transfer to your tray. Repeat to cover all 9 eggs, then cover with cling film and chill for 4 hrs or overnight.<br/>

    <strong>STEP 8</strong><br/>
To cook, pour the oil in a large, deep saucepan to about 4cm deep. Heat until a small chunk of bread browns in about 1 min. Carefully lower in a scotch egg and fry for about 5 mins, turning gently, until evenly browned. Depending on your pan, you can probably do 2-3 at a time, but don’t overcrowd. Lift out onto a kitchen paper-lined tray. (If you like your scotch eggs warm, pop them into a low oven while you fry the rest.) keep an eye on the oil – if the scotch eggs start browning too quickly, the oil might be too hot and you risk the pork not being cooked before the scotch egg is browned. If the oil gets too cool, the scotch egg may overcook before it is browned. enjoy warm or cold; best eaten within 24 hrs of frying.<br/>
Watch our scotch egg video for an easy to follow tutorial.<br/></p>
            </div>
        </div>
        <div class="card-footer w-100 text-muted">
        </div>
    </div>

 <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="{{ url_for('static', filename='images/Collections_British_4-693f537.jpeg')}}" class="img-fluid" alt="">
            </div>
            <div class="col">
                    <h4 class="card-title">Beef Wellington</h4>
                <p class="card-text"><strong>Ingredients</strong>
a good beef fillet (preferably Aberdeen Angus) of around 1kg/2lb 4oz
3 tbsp olive oil
250g/9oz chestnut mushroom, include some wild ones if you like
50g/2oz butter
1 large sprig fresh thyme
100ml/3.5 fl oz dry white wine
12 slices prosciutto
500g/1lb 2oz pack puff pastry, thawed if frozen
a little flour, for dusting
2 egg yolks beaten with 1 tsp water<br/>
                    <strong>Method</strong><br/>
                    <strong>STEP 1</strong><br/>
Heat oven to 220C/fan 200C/gas 7.

    <strong>STEP 2</strong><br/>
Sit the 1kg beef fillet on a roasting tray, brush with 1 tbsp olive oil and season with pepper, then roast for 15 mins for medium-rare or 20 mins for medium. When the beef is cooked to your liking, remove from the oven to cool, then chill in the fridge for about 20 mins.<br/>

    <strong>STEP 3</strong><br/>
While the beef is cooling, chop 250g chestnut (and wild, if you like) mushrooms as finely as possible so they have the texture of coarse breadcrumbs. You can use a food processor to do this, but make sure you pulse-chop the mushrooms so they don’t become a slurry.<br/>

    <strong>STEP 4</strong><br/>
Heat 2 tbsp of the olive oil and 50g butter in a large pan and fry the mushrooms on a medium heat, with 1 large sprig fresh thyme, for about 10 mins stirring often, until you have a softened mixture.<br/>

    <strong>STEP 5</strong><br/>
Season the mushroom mixture, pour over 100ml dry white wine and cook for about 10 mins until all the wine has been absorbed. The mixture should hold its shape when stirred.<br/>

    <strong>STEP 6</strong><br/>
Remove the mushroom duxelle from the pan to cool and discard the thyme.<br/>

    <strong>STEP 7</strong><br/>
Overlap two pieces of cling film over a large chopping board. Lay 12 slices prosciutto on the cling film, slightly overlapping, in a double row.<br/>

    <strong>STEP 8</strong><br/>
Spread half the duxelles over the prosciutto, then sit the fillet on it and spread the remaining duxelles over.<br/>

    <strong>STEP 9</strong><br/>
Use the cling film’s edges to draw the prosciutto around the fillet, then roll it into a sausage shape, twisting the ends of cling film to tighten it as you go.<br/>

    <strong>STEP 10</strong><br/>
Chill the fillet while you roll out the pastry.<br/>

    <strong>STEP 11</strong><br/>
Dust your work surface with a little flour. Roll out a third of the 500g pack of puff pastry to a 18 x 30cm strip and place on a non-stick baking sheet.<br/>

    <strong>STEP 12</strong><br/>
Roll out the remainder of the 500g pack of puff pastry to about 28 x 36cm.<br/>

    <strong>STEP 13</strong><br/>
Unravel the fillet from the cling film and sit it in the centre of the smaller strip of pastry.<br/>

<strong>STEP 14<strong<br/>
Beat the 2 egg yolks with 1 tsp water and brush the pastry’s edges, and the top and sides of the wrapped fillet.<br/>

    <strong>STEP 15</strong><br/>
Using a rolling pin, carefully lift and drape the larger piece of pastry over the fillet, pressing well into the sides.<br/>

    <strong>STEP 16</strong><br/>
Trim the joins to about a 4cm rim. Seal the rim with the edge of a fork or spoon handle.<br/>

    <strong>STEP 17</strong><br/>
Glaze all over with more egg yolk and, using the back of a knife, mark the beef Wellington with long diagonal lines taking care not to cut into the pastry.<br/>

    <strong>STEP 18</strong><br/>
Chill for at least 30 mins and up to 24 hrs. Heat oven to 200C/fan 180C/gas 6.<br/>

    <strong>STEP 19</strong><br/>
Brush the Wellington with a little more egg yolk and cook until golden and crisp – 20-25 mins for medium-rare beef, 30 mins for medium. Allow to stand for 10 mins before serving in thick slices.</p>
            </div>
        </div>
        <div class="card-footer w-100 text-muted">
        </div>
    </div>

 <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="{{ url_for('static', filename='images/Collections_British_4-693f537.jpeg')}}" class="img-fluid" alt="">
            </div>
            <div class="col">
                    <h4 class="card-title">Cottage Pie</h4>
                <p class="card-text"><strong>Ingredients</strong>
3 tbsp olive oil
1¼kg beef mince
2 onions, finely chopped
3 carrots, chopped
3 celery sticks, chopped
2 garlic cloves, finely chopped
3 tbsp plain flour
1 tbsp tomato purée
large glass of red wine (optional)
850ml beef stock
4 tbsp Worcestershire sauce
a few thyme sprigs
2 bay leaves
For the mash
1.8kg potatoes, chopped
225ml milk
25g butter
200g strong cheddar, grated
freshly grated nutmeg <br/>
                    <strong>Method</strong><br/>
<strong>STEP 1<strong<br/>
Heat 1 tbsp olive oil in a large saucepan and fry 1¼kg beef mince until browned – you may need to do this in batches. Set aside as it browns.<br/>

    <strong>STEP 2</strong><br/>
Put the other 2 tbsp olive oil into the pan, add 2 finely chopped onions, 3 chopped carrots and 3 chopped celery sticks and cook on a gentle heat until soft, about 20 mins.<br/>

    <strong>STEP 3</strong><br/>
Add 2 finely chopped garlic cloves, 3 tbsp plain flour and 1 tbsp tomato purée, increase the heat and cook for a few mins, then return the beef to the pan.<br/>

    <strong>STEP 4</strong><br/>
Pour over a large glass of red wine, if using, and boil to reduce it slightly before adding the 850ml beef stock, 4 tbsp Worcestershire sauce, a few thyme sprigs and 2 bay leaves.<br/>

    <strong>STEP 5</strong>br/>
Bring to a simmer and cook, uncovered, for 45 mins. By this time the gravy should be thick and coating the meat. Check after about 30 mins – if a lot of liquid remains, increase the heat slightly to reduce the gravy a little. Season well, then discard the bay leaves and thyme stalks.<br/>

    <strong>STEP 6</strong><br/>
Meanwhile, make the mash. In a large saucepan, cover the 1.8kg potatoes which you've peeled and chopped, in salted cold water, bring to the boil and simmer until tender.<br/>

    <strong>STEP 7</strong><br/>
Drain well, then allow to steam-dry for a few mins. Mash well with the 225ml milk, 25g butter, and three-quarters of the 200g strong cheddar cheese, then season with freshly grated nutmeg and some salt and pepper.<br/>

    <strong>STEP 8</strong><br/>
Spoon the meat into 2 ovenproof dishes. Pipe or spoon on the mash to cover. Sprinkle on the remaining cheese.<br/>

    <strong>STEP 9</strong><br/>
If eating straight away, heat oven to 220C/200C fan/gas 7 and cook for 25-30 mins, or until the topping is golden.<br/>

<strong>STEP 10<br/>
If you want to use a slow cooker, brown your mince in batches then tip into your slow cooker and stir in the vegetables, flour, purée, wine, stock, Worcestershire sauce and herbs with some seasoning. Cover and cook on High for 4-5 hours. Make the mash following the previous steps, and then oven cook in the same way to finish.<br/></p>
            </div>
        </div>
        <div class="card-footer w-100 text-muted">
        </div>
    </div>

 <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="{{ url_for('static', filename='images/Collections_British_4-693f537.jpeg')}}" class="img-fluid" alt="">
            </div>
            <div class="col">
                    <h4 class="card-title">British onion soup</h4>
                <p class="card-text"><strong>Ingredients</strong>
50g butter or 2 tbsp dripping
1kg onion, finely sliced
1 tbsp golden caster sugar
few sprigs fresh thyme
3 fresh bay leaves
150ml cider
1l stock (vegetable or chicken, it's up to you)
For the top
4 thick slices from a round country loaf
100g mature cheddar, grated
large handful parsley, chopped<br/>
                    <strong>STEP 1</strong><br/>
Heat most of the butter or dripping in a pan, then add the onions, sugar and herbs. Season and cook, uncovered, over a low heat, stirring occasionally, for up to 40 mins until sticky and brown. pour in the cider and simmer until reduced by half. Pour in the stock, bring to the boil, then cook for 20 mins.<br/>

                    <strong>STEP 2</strong><br/>
To serve, heat the grill to high. Spread the bread on both sides with the remaining butter or dripping, then toast under the grill until golden. Scatter with cheese and place back under the grill until melted. Serve the soup in bowls with a slice of the toast floating in it, scattered generously with parsley.<br/></p>
            </div>
        </div>
        <div class="card-footer w-100 text-muted">
        </div>
    </div>

{% endblock %}
