{% extends "layout.html" %}
{% block body_content %}
    <p>Welcome to the reviews Page.</p>

<div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="{{ url_for('static', filename='images/Collections_British_4-693f537.jpeg')}}" class="img-fluid" alt="">
            </div>
            <div class="col">
                    <h4 class="card-title">Masala Chai</h4>
                    <p class="card-text"><strong>Ingredients</strong> 200ml-250ml milk (dairy or other), 1-2 tbsp sugar or syrup, like stevia, maple syrup, to taste For the infusion, 3 green cardamom pods, bashed and husks removed, ½ cinnamon stick,
2 cloves,
3 black peppercorns,
½ tsp ground ginger,
2 tsp loose leaf black tea leaves, such as Assam.<br/>
                        <strong>Method</strong> <br/>
                        <strong>STEP 1</strong><br/>
For the infusion, put the cardamom seeds in a pestle and mortar, along with the cinnamon, cloves and peppercorns, and bash to release the oils – you don't want to make a powder. Tip into a pan and stir in the ginger and black tea leaves.<br/>

                        <strong>STEP 2<</strong>br/>
Pour in 400ml water and bring to a very gentle simmer over a low heat, to allow the tea to infuse before it starts to boil. Stir in the milk and sugar or syrup to taste, and remove from the heat. Leave to infuse for 2 mins before straining into mugs.<br/></p>
            </div>
        </div>
        <div class="card-footer w-100 text-muted">
        </div>
</div>

<div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="{{ url_for('static', filename='images/Collections_British_4-693f537.jpeg')}}" class="img-fluid" alt="">
            </div>
            <div class="col">
                    <h4 class="card-title">Butter Chicken</h4>
                <p class="card-text"><strong>Ingredients</strong>
3 tbsp lemon juice
2-3 tbsp kashmiri chili powder or paprika
4 skinless chicken breasts or 8 thigh fillets, chopped into 5cm cubes
3 tbsp melted butter or ghee, for basting the skewers
Marinade
200ml plain yogurt
1 tbsp crushed garlic
1 tbsp finely grated ginger
2 tbsp ground coriander
2 tbsp ground cumin
2 tsp amchoor powder (dried mango powder)
1 tbsp dried fenugreek leaves, crushed
1 tbsp dried mint leaves
½ tsp black salt (optional, see below)
½ tsp plain salt (use 1 tsp if you do not have black salt)
For the sauce
3 tbsp vegetable oil
1 tsp cumin seeds
4-8 hot green chillies, sliced
90g butter or ghee
2 medium onions, finely chopped
4 green cardamom pods, cracked
½ tbsp crushed garlic
½ tbsp grated ginger
1 tsp ground turmeric
2 tsp dried fenugreek leaves, crushed
500ml passata, diluted with 150ml water
2 tsp garam masala
100ml single cream
large pinch of coriander leaves, to garnish<br/>
                    <strong>Method</strong><br/>
                    <strong>STEP 1</strong><br/>
Rub the lemon juice and chilli powder or paprika into the chicken with a pinch of salt, then chill for 1 hr. Mix all the marinade ingredients together in a bowl, taste for seasoning, then add the chilled chicken. Mix well and chill for another 2 hrs.<br/>

    <strong>STEP 2</strong><br/>
Thread the marinated chicken pieces onto metal skewers, reserving any leftover marinade. Grill over a hot barbecue for 5 mins, turning occasionally and basting with the melted butter or ghee. Alternatively, cook under a hot grill for 8-10 mins, turning occasionally. Don't worry if the chicken is a little under cooked, as it will finish cooking in the sauce. Remove the skewers to a board.<br/>

    <strong>STEP 3</strong><br/>
To make the sauce, heat 2 tbsp vegetable oil in a wok or large frying pan and drop in a few cumin seeds. When they start sizzling, tip in the rest of the seeds. Swirl the pan, reduce the heat and add the green chillies. Stir once or twice until the skins of the chillies have blistered, then add the butter or ghee. Turn the heat up to high and continue to cook until all the butter or ghee has melted. Tip in the onions and fry for 10 mins until the onions are light brown and soft. If you prefer a smooth sauce, tip the mixture into a blender and blitz until smooth. Alternatively, scrape into a bowl and set aside.<br/>

    <strong>STEP 4</strong><br/>
Wipe the pan clean with kitchen paper and heat the remaining oil. Drop in the crushed cardamom pods. When they have swelled and lightened in colour, reduce the heat, add the garlic and ginger and fry for 30 seconds, stirring continuously until you can no longer smell raw garlic and ginger. Return the cooked onion mixture to the pan and mix well. Add the turmeric and half the fenugreek leaves. Season with salt. Taste and adjust the seasoning if needed – if you like, you can add some chilli powder. Pour in the diluted passata, mix well and bring to the boil. Reduce the heat to a simmer and cook, covered and stirring occasionally, for around 20 mins. Oil will eventually rise to the surface when the sauce is cooked.<br/>

    <strong>STEP 5</strong>br/>
Remove the chicken pieces from the skewers and chop into bite-sized pieces. Add these to the sauce along with any resting juices. Tip about 125ml warm water into the bowl with the reserved marinade, swirl to loosen, then stir into the sauce. Bring the sauce to the boil and reduce the heat to a simmer. Sprinkle over with garam masala and continue to cook for 3-4 minutes, or until chicken is cooked through. If you like, add a splash of boiling water to loosen the sauce, then taste for seasoning. Pour in half the cream and mix well.<br/>

    <strong>STEP 6</strong><br/>
Transfer the butter chicken to a serving bowl, drizzle over the remaining cream, sprinkle with the remaining fenugreek leaves and garnish with the fresh coriander leaves.<br/></p>
            </div>
        </div>
        <div class="card-footer w-100 text-muted">
        </div>
</div>

<div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="{{ url_for('static', filename='images/Collections_British_4-693f537.jpeg')}}" class="img-fluid" alt="">
            </div>
            <div class="col">
                    <h4 class="card-title">Paneer-makhani</h4>
                <p class="card-text"><strong>Ingredients</strong>
2 tsp butter
2 tbsp vegetable oil
4 tomatoes chopped, or use a 400g can chopped tomatoes
1 tsp tomato purée
6-7 garlic cloves, roughly chopped
4-5 cardamom pods, roughly bashed
1 small cinnamon stick
1 bay leaf
4 cashew nuts, finely chopped and soaked in water until soft
1cm piece of ginger, peeled and finely grated
1 tsp red chilli powder, such as kashmiri mirch
1 chilli, sliced in half lengthways (optional)
250g paneer, cut into medium cubes
1 tbsp fenugreek leaves
1 tsp garam masala
80ml single cream, to serve (optional)<br/>
                    <strong>Method</strong><br/>
                    <strong>STEP 1</strong><br/>
Melt 1 tsp butter and 1 tbsp oil in a non-stick pan over a low-medium heat until sizzling (watch closely so the butter doesn’t burn). Add the tomatoes, tomato purée, garlic, cardamom pods, cinnamon stick and bay. Cover with a lid and cook for 10 mins over a medium heat, stirring occasionally. After 10 mins, remove from the heat, leave to cool, then remove the bay, cinnamon stick and cardamom pods.<br/>

                    <strong>STEP 2</strong><br/>
Once cooled, tip the mixture and the cashew nuts into a blender and blitz to a smooth paste. Set aside.<br/>

                    <strong>STEP 3</strong><br/>
Return the pan to a medium heat, add the remaining butter and oil and cook the ginger for a minute. Reduce the heat to low, add the chilli powder and stir for 2 mins. Tip in the tomato and cashew paste and cook for 5 mins more.<br/>

                    <strong>STEP 4</strong><br/>
Add the sliced chilli, if using, 1½ tsp sugar and the paneer. Mix well and cook for a few minutes more. Add the fenugreek leaves and garam masala. Mix well. Stir in up to 100ml water to loosen, then remove from the heat, swirl in the cream, if using, and serve.<br/>
Melt 1 tsp butter and 1 tbsp oil in a non-stick pan over a low-medium heat until sizzling (watch closely so the butter doesn’t burn). Add the tomatoes, tomato purée, garlic, cardamom pods, cinnamon stick and bay. Cover with a lid and cook for 10 mins over a medium heat, stirring occasionally. After 10 mins, remove from the heat, leave to cool, then remove the bay, cinnamon stick and cardamom pods.<br/>
      </div>
        </div>
        <div class="card-footer w-100 text-muted">
        </div>
</div>

<div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="{{ url_for('static', filename='images/Collections_British_4-693f537.jpeg')}}" class="img-fluid" alt="">
            </div>
            <div class="col">
                    <h4 class="card-title">Channa Bhatura</h4>
                <p class="card-text"><strong>Ingredients</strong>
400g self-raising flour, plus extra for dusting
small bunch fresh fenugreek or coriander, finely chopped
250-300ml lukewarm milk
sunflower oil, for deep-frying
For the channa
2 tsp black loose-leaf tea, brewed in 1 litre hot water
2 x 400g cans chickpeas, drained and rinsed
2 tbsp ghee
2 onions, finely chopped
1 tbsp cumin seeds
3 black cardamom pods, bruised
thumb-sized piece ginger, peeled and grated
3 garlic cloves, finely chopped
2 green chillies, finely chopped
2 tsp ground cinnamon
1 tsp ground fenugreek
1 tsp ground coriander
1 tsp ground ginger
1 tsp Kashmiri chilli powder
1 tbsp anardana
3 tomatoes, finely chopped
1 tbsp tomato purée
1 tsp turmeric
1 tsp kala namak
½ tsp coarsely ground black pepper
sliced red onion and yogurt, to serve
½ small bunch of coriander, leaves picked, plus extra to serve<br/>
                    <strong>Method</strong><br/>
                    <strong>STEP 1</strong><br/>
Mix the flour, fenugreek and a pinch of salt in a large mixing bowl. Slowly add the milk until it comes together, then tip onto a lightly floured work surface and knead until you have a soft, pliable dough. Cover the bowl with a damp tea towel and set aside to rest for at least 2 hrs or overnight in the fridge.<br/>

                    <strong>STEP 2</strong><br/>
Meanwhile, strain the tea and discard the leaves. Tip in the chickpeas and leave to infuse for at least 1 hr.<br/>

                    <strong>STEP 3</strong><br/>
Melt the ghee in a large saucepan, then add the onions and cumin seeds. Fry over a low heat for 20 mins or until the onions are caramelised. Add the black cardamom and fry again briefly, then add the ginger, garlic and chillies, and cook until fragrant. Add the cinnamon, fenugreek, coriander, ginger, chilli and anardana (if using), and fry for 1 min.<br/>

                    <strong>STEP 4</strong><br/>
Tip in the tomatoes and tomato purée, and cook again until the tomatoes have broken down, about 20 mins. Add the turmeric and chickpeas along with the brewed tea. Sprinkle in the kala namak, pepper and a pinch of sea salt. Let it come to the boil, then turn down the heat to low and leave to simmer, uncovered, for 10-15 mins. Add more water if you would like the curry to be looser.<br/>

                    <strong>STEP 5</strong><br/>
Fill a large pan a third full with sunflower oil. Heat to 180C on a thermometer or until a cube of bread sizzles immediately when lowered in and browns within 30 seconds. Take golf ball-sized chunks of dough, roll into balls, then flatten and roll out with a rolling pin on a lightly floured surface until you have a saucer-sized disc, about ½cm thick. Gently lower into the hot oil with a slotted spoon and let it rise to the surface – it should puff up. Fry for 1-2 mins until golden, then drain on kitchen paper. Serve with the channa, red onion, a little yogurt and a sprinkling of coriander.<br/></p>
            </div>
        </div>
        <div class="card-footer w-100 text-muted">
        </div>
</div>

{% endblock %}