{% extends "layout.html" %}
{% block body_content %}

    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="{{ url_for('static', filename='images/Collections_British_4-693f537.jpeg')}}" class="img-fluid" alt="">
            </div>
            <div class="col">
                    <h4 class="card-title">Miso-Ramen</h4>
                <p class="card-text"><strong>Ingredients</strong>
5 tbsp miso paste
2 tbsp soy sauce
2.5cm piece ginger, grated
12 shiitake mushrooms
225g smoked tofu, cut into 4 slices
2 tbsp liquid aminos or tamari
250g soba noodles
16 ears baby corn
1 tbsp vegetable oil
8 baby pak choi
200g ready-to-eat beansprouts (if they’re not labelled ready-to-eat, cook thoroughly until steaming hot throughout)
2 red chillies, finely sliced on an angle
2 spring onions, finely sliced on an angle
4 tbsp crispy seaweed
2 tbsp black sesame seeds
1 tbsp sesame oil, to finish<br/>
                        <strong>Method</strong><br/>
                        <strong>STEP 1</strong><br/>
Put the miso, 1.5 litres water, soy sauce, ginger and shiitake in a large saucepan. Stir to mix in the miso, then bring to a very gentle simmer. Keep simmering for 5 mins.<br/>

                        <strong>STEP 2</strong><br/>
Meanwhile, place the smoked tofu in a shallow bowl and pour over the liquid aminos. Turn the tofu slices over to make sure they are soaked well on both sides.<br/>

                        <strong>STEP</strong> 3<br/>
Bring a pan of salted water to the boil. Add the soba noodles, bring back to the boil and cook until just tender, about 5 mins.<br/>

                        <strong>STEP 4</strong><br/>
Add the baby corn to the miso broth and cook for a further 4 mins.<br/>

                        <strong>STEP 5</strong><br/>
Meanwhile, heat the oil in a non-stick frying pan over a high heat. Lift the tofu from its bowl, shaking off the excess liquid aminos and saving it. Gently place the tofu in the frying pan and cook for 2-3 mins on each side until browned. Add the reserved liquid aminos to the pan (it will bubble up) and reduce to a glaze. Remove from the heat.<br/>

                        <strong>STEP 6</strong><br/>
As soon as the noodles are cooked, drain them in a colander and rinse under cold water, then divide between four serving bowls. Add the pak choi to the miso broth and remove from the heat.<br/>

                        <strong>STEP 7</strong><br/>
Divide the pak choi, baby corn and beansprouts between the bowls. Ladleover the miso broth and add the tofu. Garnish with the chillies, spring onions and crispy seaweed. Sprinkle with sesame seeds, drizzle over the sesame oil and serve straightaway.<br/></p>
            </div>
        </div>
        <div class="card-footer w-100 text-muted">
        </div>

        <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="{{ url_for('static', filename='images/Collections_British_4-693f537.jpeg')}}" class="img-fluid" alt="">
            </div>
            <div class="col">
                    <h4 class="card-title">Yakitori-Chicken</h4>
                <p class="card-text"><strong>Ingredients</strong>
100ml soy sauce
100ml mirin
50ml sake
2 tbsp caster sugar
500g boneless and skinless chicken thighs, chopped into 3cm chunks
4 spring onions, each cut into three
You will need
4 flat teppo gushi bamboo skewers (available from amazon.co.uk)<br/>
                    <strong>STEP 1</strong><br/>
Soak the skewers in a bowl of water while you prepare everything else, to prevent them from burning. Tip the soy, mirin, sake and sugar into a small saucepan, and cook over a medium heat for about 15 mins until the sauce is glossy.<br/>

                    <strong>STEP 2</strong><br/>
Remove the skewers from the water and thread each one with a piece of chicken, followed by a piece of spring onion. Repeat twice more so the skewer is well stacked. Fill all four skewers.<br/>

                    <strong>STEP 3</strong><br/>
Heat a large frying pan over a medium heat – you want to cook the chicken fairly gently so it soaks up the sauce. Put the skewers in the pan, then brush with the sauce. Cook for 10 mins, turning regularly and brushing in all the sauce. Serve immediately.<br/></p>
            </div>
        </div>
        <div class="card-footer w-100 text-muted">
        </div>

        <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="{{ url_for('static', filename='images/Collections_British_4-693f537.jpeg')}}" class="img-fluid" alt="">
            </div>
            <div class="col">
                    <h4 class="card-title">Katsu Pork Sticky Rice</h4>
                <p class="card-text"><strong>Ingredients</strong>
200g short-grain or sushi rice, rinsed
100g panko breadcrumbs
1 tsp turmeric
1 tbsp vegetable oil
1 egg white
450g pork fillet, trimmed and cut into 8 pieces
coriander sprigs, to garnish (optional)
pickled ginger, to serve (optional)
For the sauce
1 tbsp vegetable oil
1 onion, chopped
1 medium carrot, grated
2 eating apples, such as Braeburn, peeled, cored and roughly chopped
2 fat garlic cloves, sliced
2 tsp medium curry powder
½ tsp ground ginger
1 tbsp tomato purée
2 tsp clear honey
1 tbsp soy sauce
1 tbsp cornflour
350ml chicken stock
1 tsp sesame oil<br/>
                    <strong>Method</strong><br/>
<strong>STEP 1</strong><br/>
To make the sauce, heat the oil in a large pan and add the onion, carrot and apples. Cover and cook gently for 10 mins until softened, stirring a couple of times. Uncover the pan, turn up the heat, add the garlic and cook for 1 min.<br/>

<strong>STEP 2</strong><br/>
Stir in the curry powder and ginger. Cook for 1 min more, then stir in the tomato purée, honey, soy and cornflour. Gradually stir in the stock and simmer for 5 mins until the vegetables are totally soft and the sauce has thickened. Blitz with a blender or in a liquidiser until smooth, then season to taste with the sesame oil, salt and pepper. The sauce can be made up to 3 days ahead.<br/>

<strong>STEP 3</strong><br/>
While the sauce is cooking, put the pork between 2 sheets of cling film and bash with a rolling pin until the meat is about 1cm thick. In a shallow bowl, rub together the crumbs, turmeric and oil with some seasoning. Beat the egg white with a fork until a little frothy and have a non-stick baking tray ready.<br/>

<strong>STEP 4</strong><br/>
Put the rice in a saucepan with 400ml cold water and a pinch of salt. Bring to the boil, cover, then simmer for 10 mins. Take off the heat and set aside until ready to serve the pork.

<strong>STEP 5</strong><br/>
Heat oven to 220C/200C fan/gas 7. Dip each piece of pork into the egg, then the crumbs, pressing them onto the surface before transferring the meat to the tray. Bake the pork for 10-15 mins or until golden and crisp, turning once if needed. Serve with the rice and katsu sauce, garnished with coriander, if using, plus pickled ginger, if you like.<br/></p>
            </div>
        </div>
        <div class="card-footer w-100 text-muted">
        </div>

        <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="{{ url_for('static', filename='images/Collections_British_4-693f537.jpeg')}}" class="img-fluid" alt="">
            </div>
            <div class="col">
                    <h4 class="card-title">Gyoza</h4>
                    <p class="card-text"><strong>Ingredients</strong>
2 tbsp cornflour
26 ready-made gyoza skins, defrosted if frozen (see tip)
2-3 tbsp vegetable oil
For the filling
4 spring onions, ends trimmed, roughly chopped
2 large leaves of Savoy or pointed cabbages, hard stem removed, roughly chopped
a 1½cm piece of ginger, peeled and chopped
1 garlic clove
50g water chestnuts, about 5 (drained weight)
2 tsp soy sauce
2 tsp oyster sauce
1 tsp cooking saké
½ tsp sesame oil
140g minced pork or chicken
For the soy dipping sauce
2 tbsp soy sauce
1 tbsp rice vinegar
2 tsp sesame oil
For the yuzu dipping sauce
2 tbsp soy sauce
2 tbsp Yuzu juice
2 tsp peanut oil<br/>
                        <strong>Method</strong><br/>
<strong>STEP 1</strong><br/>
Put the spring onions, cabbage, ginger and garlic in a food processor, and whizz to a fine mix (or finely chop by hand).<br/>

<strong>STEP 2</strong><br/>
Add the water chestnuts and pulse to chop, but not too finely – these will add a nice crunchy texture. Add the soy sauce, oyster sauce, sake, sesame oil and a pinch of salt, and whizz again.<br/>

<strong>STEP 3</strong><br/>
Tip the ingredients into a bowl and add the minced pork or chicken. Mix by hand until well combined. Chill until ready to use.<br/>

<strong>STEP 4</strong><br/>
Have a pot of water to hand. Sprinkle the cornflour onto a plate. To assemble the gyoza, hold the dumpling skin in the palm of one hand and put a heaped teaspoon of the filling onto the centre of the skin.<br/>

<strong>STEP 5</strong><br/>
Dip your finger in the water and wipe around the edge of the skin – this will moisten it and help the edges stick together.<br/>

<strong>STEP 6</strong><br/>
Bring the edges of the skin together. Pinch pleats along one side, then press each pleat against the opposite flat side of the skin. With each pinch make sure that you are sealing the parcel and keeping the filling in the centre. Put each gyoza onto the plate dusted with cornflour. Can be covered with cling film and chilled for up to 8 hrs.<br/>

<strong>STEP 7</strong><br/>
Cook the gyoza in batches. Heat a non-stick frying pan with 1 tbsp vegetable oil. Brush off any excess cornflour from the bases of the dumplings. Fry the gyoza on one side only – don’t turn them over, you just want one crispy side. They should be golden brown after about 2 mins.<br/>

<strong>STEP 8</strong><br/>
Add a good splash of water to the pan and cover with a steaming lid or a large sheet of foil with a few holes poked in the top. Cook over a medium heat for 3-5 mins until the water has evaporated and the gyoza filling is cooked through. Set aside while you cook the rest.<br/>

<strong>STEP 9</strong><br/>
Mix all the dipping sauce ingredients and serve alongside the dumplings in dipping bowls. You can serve with both or just one dipping sauce.<br/></p>
            </div>
        </div>
        <div class="card-footer w-100 text-muted">
        </div>

{% endblock %}