{% extends "layout.html" %}
{% block body_content %}
    <p>Leave a review!</p>
    <p>Please leave a review below, thankyou</p>
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.name.label }} {{ form.name }}
                <br>
                {{ form.recipe.label }} {{ form.recipe }}
                <br>
                {{ form.comment.label }} {{ form.comment }}
                <br>
                {{ form.submit }}
            {{ message }}
            </form>
        </div>
{% endblock %}