{% extends "layout.html" %}
{% block body_content %}
    <p>Post a recipe!</p>
    <p>Please leave a recipe below, thankyou</p>
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.name.label(
        class="form-label" ) }} {{ form.name }}
                <br>
                {{ form.recipe.label (
        class="form-label" ) }} {{ form.recipe_name }}
                <br>
                {{ form.recipe.label (
        class="form-label" ) }} {{ form.recipe }}
                <br>
                {{ form.submit(
        class="btn btn-primary") }}
            {{ message }}
            </form>

        </div>
{% endblock %}